<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/app.css">
    <title>{% block title %} Base {% endblock %}</title>
</head>
<body> 
    {% if t %}
        <h1>{{t}}</h1>
    {% endif %}
    <form action="/get-currency">
        <h1>Currency Exchange</h1>
        <table>
            <tr>
                <td class="label">From:</td>
                <td>
                    <select name="from" id="">
                        <option value="USD">USD</option>
                        {% for key in currency %}
                        <option value="{{key}}">{{key}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td class="label">To:</td>
                <td>
                    <select name="to" id="">    
                        <option value="USD">USD</option>
                        {% for key in currency %}
                        <option value="{{key}}">{{key}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td class="label">Amount:</td>
                <td>
                    <input type="text" name="amount">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button>Submit</button>
                </td>
            </tr>
            {% if output %}
            <tr>
                <td colspan="2" class="output">
                    {{amount}} {{comingFrom}} is {{output}} {{to}}
                </td>
            </tr>
            {% elif Error %}
            <tr>
                {% for msg in get_flashed_messages() %}
                <td colspan="2" class="errorMessage">
                    {{msg}}
                </td>
                {% endfor %}
            </tr>
            {% endif %}
        </table>
        <!-- <label for="">Currency From:</label>
        <select name="from" id="">
            <option value="USD">USD</option>
            {% for key in currency %}
            <option value="{{key}}">{{key}}</option>
            {% endfor %}
        </select>
        <label for="">Currency To:</label>
        <select name="to" id="">
            <option value="USD">USD</option>
            {% for key in currency %}
            <option value="{{key}}">{{key}}</option>
            {% endfor %}
        </select>
        <label for="">Amount:</label>
        <input type="text" name="amount">
        <button>Submit</button> -->
    </form>
    <!-- {% if output %}
    <table id="outputTable">
        <tr>
            <td>{{amount}} {{comingFrom}} is {{output}} {{to}}</td>
        </tr>
    </table>
    {% elif Error %}
    {% for msg in get_flashed_messages() %}
    <h3 class="errorMessage">{{msg}}</h3>
    {% endfor %}
    {% endif %} -->
</body>
</html>